<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Scott Daniels - Web Developer &amp; Designer</title>
        <meta content="Home page for Scott R Daniels. Scott is a web developer and designer based out of Ypsilanti, MI which is in Southeast corner of Michigan near Ann Arbor and Detroit." name="description" />
        <meta content="scott, r, daniels, michigan, saint, projects, project, mi, ypsilanti, ann arbor, detroit, web, developer, xhtml, html, css, javascript, designer, node, nodejs, python, php, jquery, design, graphic, user, interface, freelance, coder, adobe, macromedia, photoshop, logo, website, e-business, e-commerce, logos,dreamweaver,professional,creative,programmer,standards,fast, ui, ua, interface, ajax, developer, backbone" name="keywords" />
        <meta content="Index,Follow" name="robots" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Scott R Daniels" name="author" />
        <meta content="General" name="rating" />
        <meta content="10 days" name="revisit-after" />
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans|Alegreya+Sans' rel='stylesheet' type='text/css'>
        <!-- build:css(assets) styles/screen.css -->
        <link rel="stylesheet" href="styles/screen.css">
        <!-- endbuild -->
    </head>
    <body role="document">
        <a id="top"></a>

        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="grid">
                <div class="grid__item one-half">
                    <a href="#top" class="brand" title="Scott Daniels">SD</a>
                </div><!-- white space fix for display inline
                --><nav class="grid__item one-half">
                    <ul class="nav float--right">
                        <li><a href="#about" class="e-nav">about</a></li>
                        <li><a href="#skills" class="e-nav">skills</a></li>
                        <li><a href="#location" class="e-nav">location</a></li>
                        <li><a href="#contact" class="e-nav">contact</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
            {{{ body }}}
        </main>

        <footer>
            <div class="grid">
                <nav class="grid__item one-half">
                    <div class="container">
                        <ul class="nav">
                            <li><a href="#about" class="e-nav">about</a></li>
                            <li><a href="#skills" class="e-nav">skills</a></li>
                            <li><a href="#location" class="e-nav">location</a></li>
                            <li><a href="#contact" class="e-nav">contact</a></li>
                        </ul>
                        <div class="copy clear">
                            &copy; 2000 &ndash; 2015 Scott R Daniels
                        </div>
                    </div>
                </nav><!-- white space fix for display inline
                --><div id="contact" class="container-contact grid__item one-half">
                    <div class="container float--right">
                        <h2>Contact</h2>
                        <dl>
                            <dt>Email</dt>
                            <dd>
                                <a href="mailto:daniels.scott.r@gmail.com" title="Opens Email Program">daniels.scott.r@gmail.com</a>
                            </dd>
                            <dt>Skype</dt>
                            <dd><a href="skype:scottd48198" title="Opens Skype">ScottD48198</a></dd>
                        </dl>
                        <ul class="list-sn nav">
                            <li>
                                <a href="https://twitter.com/ScottDaniels" title="Twitter" class="ext-link fa fa-twitter-square"></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/in/scottrdaniels/" title="LinkedIn"
                                   class="ext-link fa fa-linkedin-square"></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/110722324356407064348/posts" title="Google+"
                                   class="ext-link fa fa-google-plus-square"></a>
                            </li>
                            <li>
                                <a href="http://pinterest.com/saint48198/pins/" title="Pinterest"
                                   class="ext-link fa fa-pinterest-square"></a>
                            </li>
                            <li>
                                <a href="https://github.com/Saint48198" title="GitHub"
                                   class="ext-link fa fa-github-alt"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <!-- build:js(assets) scripts/scripts.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/Chart.js/Chart.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-24196033-1', 'scottdaniels.co');
            ga('send', 'pageview');

        </script>

    </body>
</html>
