/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * FOOTER
*/

footer {
    padding: 0.9375em 0.625em;
    text-align: right;
    span {
        font-size: 0.625em;
    }
}




/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
