/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

header {
    @include  linear-gradient(to top, #3c3c3c, #222);
    background-repeat: repeat-x;
    min-height: 20px;
    nav {
        .nav {
            margin-right: 15px;
        }
        a {
            color: $white;
            text-decoration: none;
            font-size: 14px;
            text-transform: capitalize;
        }
    }
}

.brand {
    font-family: 'Alegreya Sans',sans-serif;
    color: #fff !important;
    font-size: 18px;
    background: $black2;
    width: 60px;
    height: 20px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    transition: background-color 1s linear,ease-in;
    text-decoration: none;
}
