<div class="container">
    <div class="col">
        <div class="logo">SD</div>

        <h1>About Scott Daniels</h1>

        <h2>I'm a web developer located in Ypsilanti, <abbr title="Michigan">MI</abbr> US</h2>

        <p>I'm primary a UI/UX developer with some visual and experience design skills. I've worked on many different
            types of projects such as large-scale e-commerce, social media applications, company/product sites and
            business tools.</p>

        <h2>Skills</h2>
        <ul class="list-paragraph">
            <li>HTML <span class="amp">&amp;</span> CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>Python</li>
            <li>user experience</li>
            <li>mobile development</li>
            <li>Node.js</li>
            <li>software design</li>
            <li>SQL</li>
            <li>No-SQL</li>
            <li>Java</li>
        </ul>

        <h2><b>Contact <span class="amp">&amp;</span> Social Media</b></h2>
        <dl>
            <dt>Email</dt>
            <dd>
                <a href="mailto:daniels.scott.r@gmail.com" title="Opens Email Program">daniels.scott.r@gmail.com</a>
            </dd>
            <dt>Phone</dt>
            <dd>415.689.9859</dd>
            <dt>Skype</dt>
            <dd><a href="skype:scottd48198" title="Opens Skype">ScottD48198</a></dd>
        </dl>


    </div>
    <div class="col profile-image">
        <div class="inner">
            <figure>
                <img src="images/id_me.png" alt="">
            </figure>
            <ul class="list-sn nav">
                <li>
                    <a href="https://twitter.com/ScottDaniels" title="Twitter" class="ext-link fa fa-twitter-square"></a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/in/scottrdaniels/" title="LinkedIn"
                       class="ext-link fa fa-linkedin-square"></a>
                </li>
                <li>
                    <a href="http://pinterest.com/saint48198/pins/" title="Pinterest"
                       class="ext-link fa fa-pinterest-square"></a>
                </li>
                <li>
                    <a href="https://github.com/Saint48198" title="GitHub"
                       class="ext-link fa fa-github-alt"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
