<section id="about" class="container">
    <h1>About Scott Daniels</h1>

    <h2>I'm a web developer located in <a href="#location" class="e-nav">Ypsilanti, <abbr title="Michigan">MI</abbr>
        US</a></h2>

    <p>I'm primary a UI/UX developer with some visual and experience design skills. I've worked on many different
        types of projects such as large-scale e-commerce, social media applications, company/product sites and
        business tools.</p>
</section>

<section id="skills" class="container">
    <h2>Skills</h2>
    <div class="container-chart">
        <canvas id="chart" width="500" height="500"></canvas>
    </div>
</section>

<section id="location" class="container-location">
    <h2>Location</h2>
    <div id="map" class="container-map"></div>
</section>
