$font-size: calc(10px + 2vmin);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Content placeholder to demonstrate sticky behavior
main {
  section {
    > div {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;

      @media (min-width: 1400px) {
        max-width: 1320px;
      }

      @media (min-width: 1200px) {
        max-width: 1140px;
      }

      @media (min-width: 992px) {
        max-width: 960px;
      }

      @media (min-width: 768px) {
        max-width: 720px;
      }

      h2 {
        width: 100%;
        margin: 15px 0;
      }
    }

    &.header-txt {
      background: #ccc;
      h2 {
        padding: 0;
        margin: 0;
      }
      > div {
        display: block;
        padding: 20px 0;
      }
    }
  }
}

.project {
  margin-bottom: 20px;
}

