.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  z-index: 1000; // Ensures the header stays on top
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  div {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    padding: 0 20px;
    margin: 0;
  }

  nav {
    display: flex;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      margin-right: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
